include ../common/mixin
include ../common/variable

section.banner
    figure.banner__bg
    figure.banner__img(
        data-aos="fade-in"
        data-aos-delay="1500")
    .banner__container
        .banner__content
            h1.banner__content__title(
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="100"
            ) celebrating The Music and community of the grateful Dead
            .banner__content__copy(
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="500"
            )
                p APRIL 8-11, 2021
                p ventura county, ca
            .banner__content__link(
                data-aos="fade-up"
                data-aos-duration="1000"
                data-aos-delay="900"
            )
                a.link(href="./passes.html") get passes
        img.banner__left__roses(
            src="./images/common/roses-left.svg", 
            alt="roses"
        )
        img.banner__right__roses(
            src="./images/common/roses-right.svg",
            alt="roses"
        )