include ../common/mixin
include ../common/variable

section.experience
    .experience__top
        +sectionTitle("Skull & Roses")
        p(
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
        ) Skull & Rosese is a three and a half day music festival which celebrates the
            | music and community that formed around iconic American rock band
            | The Grateful Dead.
    .experience__wine-merlot
        .experience__wine-merlot__container
            +detailSectionTitle("experience__title",experienceMusicTitle,experienceMusicContent,"#",experienceMusicLink)
            .experience__img
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/dsc7406-w600h600.jpg", alt="gilter")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/vhbtmd1t-w600h600.jpeg", alt="concert")
    .experience__wine-merlot
        .experience__wine-merlot__container
            +detailSectionTitle("experience__title",experienceGATitle,experienceGAContent,"#",experienceGALink)
            .experience__img
                figure
                    //- img(src="", alt="")
                figure
                    //- img(src="", alt="")
