include ../common/mixin
include ../common/variable

section.experience
    .experience__top
        +sectionTitle("Skull & Roses")
        p(
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
        ) Skull & Rosese is a three and a half day music festival which celebrates the
            | music and community that formed around iconic American rock band
            | The Grateful Dead.
    .experience__wine-merlot(class="experience__section")
        .experience__wine-merlot__container
            +detailSectionTitle("experience__title",experienceMusicTitle,experienceMusicContent,"#",experienceMusicLink)
            .experience__img_right
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/dsc7406-w600h600.jpg", alt="gilter")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/vhbtmd1t-w600h600.jpeg", alt="concert")
    .experience__wine-merlot(class="experience__section")
        .experience__wine-merlot__container
            .experience__img_left
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/ddsduo-w600h600.jpg", alt="band")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/kimock-w600h600.jpg", alt="gilter")
            +detailSectionTitle("experience__title",experienceGATitle,experienceGAContent,"#",experienceGALink)
    .experience__wine-shade(class="experience__section")
        .experience__wine-shade__container
            +subSectionTitle("experience__title",experienceFoodTitle,experienceFoodContent)
            .experience__img_right
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/photo-1509315811345-672d83ef2fbc-w600h600.jpeg", alt="cafe")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/photo-1554127959-b04104f23bab-w600h600.jpeg", alt="drink")
    .experience__merlot-pink(class="experience__section")
        .experience__merlot-pink__container
            .experience__img_left
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/josh-duncan-6sa26lsjtok-unsplash-w600h600.jpg", alt="drink")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/photo-1491438590914-bc09fcaaf77a-w600h600.jpeg", alt="people")
            +subSectionTitle("experience__title",experienceLoungeTitle,experienceLoungeContent)
    .experience__wine-merlot(class="experience__section")
        .experience__wine-merlot__container
            +subSectionTitle("experience__title",experienceGardenTitle,experienceGardenContent)
            .experience__img_right
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/bence-boros-8t5uav6kkza-unsplash-w600h600.jpg", alt="beer")
                figure
    .experience__wine-shade(class="experience__section")
        .experience__wine-shade__container
            .experience__img_left
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/screen-shot-2019-11-04-at-2-23-32-pm-w600h600.png", alt="people")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/screen-shot-2019-11-04-at-2-20-34-pm-w600h600.png", alt="drowing")
            +subSectionTitle("experience__title",experienceStreetTitle,experienceStreetContent)
    .experience__merlot-pink(class="experience__section")
        .experience__merlot-pink__container
            +subSectionTitle("experience__title",experienceMerchTitle,experienceMerchContent)
            .experience__img_right
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/photo-1469488865564-c2de10f69f96-w600h600.jpeg", alt="people")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/photo-1491210953611-dcd4c66e0840-w600h600.jpeg", alt="girl")
    .experience__wine-shade(class="experience__section")
        .experience__wine-shade__container
            .experience__img_left
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/lee-weng-ebljp0l-r90-unsplash-w600h600.jpg", alt="gilter")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/marcus-neto-gioh4gho0-g-unsplash-w600h600.jpg", alt="gilter")
            +detailSectionTitle("experience__title",experienceBenefitTitle,experienceBenefitContent,"#",experienceBenefitLink)
    .experience__wine-merlot(class="experience__section")
        .experience__wine-merlot__container
            +subSectionTitle("experience__title",experienceLockersTitle,experienceLockersContent)
            .experience__img_right
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/experience/chkupoqw8aevsvi-w600h600.png", alt="rocker")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/experience/screen-shot-2020-02-26-at-7-32-21-pm-w600h600.png", alt="rocker")