include ../common/mixin
include ../common/variable

section.lodging
    .lodging__top
        +detailSectionTitle("lodging__title",lodgingH2, lodgingP, "./passes.html",lodgingA)
    .lodging__wine_merlot(class="lodging__section")
        .lodging__wine-merlot__container
            +detailSectionTitle("lodging__title",lodgingHotelsTitle,lodgingHotelsContent,"#",lodgingHotelsLink)
            .lodging__img_right
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/lodging/crowne-plaza-ventura-3199756657-4x3-w600h600.jpeg", alt="sea")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/lodging/oxrvb-lobby-3307-hor-clsc-w600h600.jpg", alt="home")
    .lodging__wine-shade(class="lodging__section")
        .lodging__wine-shade__container
            .lodging__img_left
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/lodging/7147210326751432658384787061370527515934720n-w600h600.jpg", alt="pool")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/lodging/1430397765-w600h600.jpg", alt="camping car")
            +detailSectionTitle("lodging__title",lodgingCampingTitle,lodgingCampingContent,"#",lodgingCampingLink)
    .lodging__wine-merlot(class="lodging__section")
        .lodging__wine-merlot__container
            +detailSectionTitle("lodging__title",lodgingRentalsTitle,lodgingRentalsContent,"#",lodgingRentalsLink)
            .lodging__img_right
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="600"
                )
                    img(src="./images/lodging/sylwia-pietruszka-indboxcrvio-unsplash-w600h600.jpg", alt="home")
                figure(
                    data-aos="fade-in"
                    data-aos-duration="700"
                    data-aos-delay="300"
                )
                    img(src="./images/lodging/roberto-nickson-tlecjidori0-unsplash-w600h600.jpg", alt="home")
                