section.newslatter
    .newslatter__signup
        figure.newslatter__signup--skull(
            data-aos="fade-in"
            data-aos-duration="700"
            data-aos-delay="600"
        )
        h3(
            data-aos="fade-up"
            data-aos-duration="700"
        ) don't miss skull & roses updates
        p(
            data-aos="fade-up"
            data-aos-duration="700"
            data-aos-delay="300"
        ) Sign Up For Our Newslatter
        form(
            action="/"
            data-aos="fade-up"
            data-aos-duration="700"
            data-aos-delay="600"    
        )
            label(for="newslatter_email") email
            input(
                id="newsla tter_email"
                type="email"
                placeholder="yourname@email.com"
            )
            button.link(type="submit") Sign me up!