include ../common/mixin
include ../common/variable

section.sponsors
    .sponsors__container
        .sponsors__title
            +sectionTitle("thanks to our sponsors")
        .sponsors__content
            figure(
                data-aos="zoom-in"
                data-aos-duration="500"
                data-aos-delay="900"
            )
                a(href="https://www.flyingembers.com/" target="_blank")
                    span.sr Flying Embers
                    img(src="./images/sponsors/fesimplecirclelogo190412gold-w300.png", alt="Flying Embers logo-img")
            figure(
                data-aos="zoom-in"
                data-aos-duration="500"
                data-aos-delay="1200"
            )
                a(href="http://northcoastorganics.us" target="_blank")
                    span.sr North Coast Organics
                    img(src="./images/sponsors/northcoastorganicsgratefuldeadsponsorlogo2-01-w300.png", alt="North Coast Organics logo-img")
            figure(
                data-aos="zoom-in"
                data-aos-duration="500"
                data-aos-delay="1500"
            )
                a(href="https://visitventuraca.com/" target="_blank")
                    span.sr Visit Ventura
                    img(src="./images/sponsors/logodesktop-w300.png", alt="visit ventura logo-img")
        .sponsors__link
            .sponsors__link__container
                h2(
                    data-aos="fade-up"
                    data-aos-duration="700"
                    data-aos-delay="1700"
                ) want to be part of something special?
                a.link(
                    href="./contact.html"
                    class="sponsors__link"
                )   
                    .sponsors__link__color
                        .sponsors__link__icon
                    | Sponsors Our Event